<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pneumonia Detection</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/material-icons.min.css">
    <link rel="stylesheet" href="static/Highlight-Clean.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <span>{{message}}</span>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">pneumonia detection</h2>
                <p class="text-center">Detect pneumonia based on chest x-ray images.</p>
            </div>
            <div class="buttons">
               {% block button %}{% endblock %}
            </div>
        </div>
    </section>
    {% block bsec %}
    {% endblock %}
    <div class="container text-center">
        <h3 class="font-monospace text-uppercase">{{ output }}</h3>
        <br><br>
        {% block img %}{% endblock %}
    </div>
    <script src="static/bootstrap.min.js"></script>
</body>

</html>